<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon color="dark" slot="icon-only" name="person-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list-header>
    <ion-label>Hardwares</ion-label>
  </ion-list-header>

  <ion-list class="noPadding">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://images.samsung.com/is/image/samsung/br-ur55-lu28r550uqlmzd-frontblack-258478472?$650_519_PNG$">
      </ion-thumbnail>
      <ion-label>Monitor Samsung 28" 4K</ion-label>
      <ion-badge slot="end">R$ 2.299,99</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://resource.logitech.com/content/dam/logitech/en/products/mice/m190-wireless-mouse/m190-wireless-mouse-charcoal-gallery-01.png">
      </ion-thumbnail>
      <ion-label>Mouse Sem-Fio M190</ion-label>
      <ion-badge slot="end">R$ 354,99</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://static.wixstatic.com/media/71a6c2_a235cf823fb041d5a293b7dbbdc2a5da~mv2.png/v1/fill/w_1200,h_620,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/DARK%20AVENGER%20PNG.png">
      </ion-thumbnail>
      <ion-label>Teclado Kumara Pro</ion-label>
      <ion-badge slot="end">R$ 869,99</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://resource.astrogaming.com/w_1800,h_1800,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/astro/pt/products/a50-headset-with-base-station-gen4/a50-feature1-platform-foreground-image-ps4.png?v=1">
      </ion-thumbnail>
      <ion-label>Headset ASTRO A50</ion-label>
      <ion-badge slot="end">R$ 2.229,99</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://cdn.pichau.com.br/wysiwyg/Descricao/mancer/MCR-FRO1-WH/MCR-FRO1-WH4.png">
      </ion-thumbnail>
      <ion-label>Gabinete Gamer</ion-label>
      <ion-badge slot="end">R$ 238,99</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://dlcdnwebimgs.asus.com/gain/f2cd5cdc-abe3-4e26-b583-9bf83f5a221d/">
      </ion-thumbnail>
      <ion-label>Dual GeForce RTX™ 3060 Ti</ion-label>
      <ion-badge slot="end">R$ 500,00</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
